# Actividad - Librería `pandas`

* **Nombre:**
* **Matrícula:**

In [7]:
import pandas as pd
import numpy as np

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio.
**Nota:** Recuerda habrá una penalización de **50** puntos si la actividad fue entregada fuera de la fecha límite.

1. Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `DataFrame`.

In [2]:
#Montar nuestro Google Drive en el entorno de Google Colab
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/SemanaTec/Repositorio1/

Mounted at /gdrive
/gdrive/MyDrive/SemanaTec

In [8]:
df = pd.read_csv('netflix_titles.csv')

2. Desplegar las primeras 5 líneas del `DataFrame`.

In [11]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Implementa una función que despliegue el primer renglon de un `DataFrame`.

In [12]:
def the_first():
  row_1=df.iloc[0]
  print(row_1)
  return

the_first()

show_id                                                        s1
type                                                      TV Show
title                                                          3%
director                                                      NaN
cast            João Miguel, Bianca Comparato, Michel Gomes, R...
country                                                    Brazil
date_added                                        August 14, 2020
release_year                                                 2020
rating                                                      TV-MA
duration                                                4 Seasons
listed_in       International TV Shows, TV Dramas, TV Sci-Fi &...
description     In a future where the elite inhabit an island ...
Name: 0, dtype: object

4. Implementa una función que regrese el número de registros en el `DataFrame`.

In [14]:
def row_number():
  print("Cantidad de registros:",len(df))
  return

row_number()

Cantidad de registros: 7787

5. Implementa una función que despliega las películas con un `release_year` determinado.

In [32]:
def released_year(year):
  df2=df[df["release_year"].isin([year])]
  return df2

year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

6. Implementa una función que despliegue las películas que son de un país determinado.

In [33]:
def origin_country(country):
  df2=df[df["country"].isin([country])]
  return df2

country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

7. Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

In [34]:
df3=df[["type","title","country","release_year"]]
df3

,type,title,country,release_year
0,TV Show,3%,Brazil,2020
1,Movie,7:19,Mexico,2016
2,Movie,23:59,Singapore,2011
3,Movie,9,United States,2009
4,Movie,21,United States,2008
...,...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...",2005
7783,Movie,Zubaan,India,2015
7784,Movie,Zulu Man in Japan,NaN,2019
7785,TV Show,Zumbo's Just Desserts,Australia,2019
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States",2019

8. Despliega, cuantos tipos de producciones (`type`) se hicieron por país determinado (`country`).

In [50]:
df3.groupby(["type","country"]).sum()

                                                            release_year
type    country
Movie   Argentina                                                  68519
        Argentina, Brazil, France, Poland, Germany, Den...          2017
        Argentina, Chile                                            2017
        Argentina, Chile, Peru                                      2015
        Argentina, France                                           2017
...                                                                  ...
TV Show United States, South Korea, China                           4036
        United States, Sweden                                       2015
        United States, United Kingdom                              14086
        United States, United Kingdom, Australia                    2017
        Uruguay, Germany                                            2019

[773 rows x 1 columns]

# 9. Implementa la función que genera el cuadrado de un número.

In [46]:
def square(x):
  x=x*x
  return x

10. Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [47]:
df6 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df6

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

In [48]:
df6.applymap(square)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500